/* _content/TicTacToe/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-cbx7va5qc7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-cbx7va5qc7] {
    flex: 1;
}

.sidebar[b-cbx7va5qc7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-cbx7va5qc7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cbx7va5qc7]  a, .top-row[b-cbx7va5qc7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-cbx7va5qc7]  a:hover, .top-row[b-cbx7va5qc7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-cbx7va5qc7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-cbx7va5qc7] {
        justify-content: space-between;
    }

    .top-row[b-cbx7va5qc7]  a, .top-row[b-cbx7va5qc7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cbx7va5qc7] {
        flex-direction: row;
    }

    .sidebar[b-cbx7va5qc7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cbx7va5qc7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-cbx7va5qc7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-cbx7va5qc7], article[b-cbx7va5qc7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-cbx7va5qc7] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-cbx7va5qc7] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/TicTacToe/Components/Pages/Board.razor.rz.scp.css */
.container[b-ratfnvumw0] {
    /* background-color: rgba(255, 0, 0, 0.121); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
}

#header[b-ratfnvumw0] {
    text-align: center;
    margin-bottom: 20px;
}

#title[b-ratfnvumw0] {
    font-size: 54px;
    text-transform: uppercase;
}

#author[b-ratfnvumw0] {
    /* color: purple; */
    font-size: 20px;
}

#restartButton[b-ratfnvumw0] {
    margin-bottom: 20px;
}

#gameState[b-ratfnvumw0] {
    /* animation: flip 1s ease-in-out; */
    /* transform-style: preserve-3d; */
    margin-bottom: 20px;
    /* transform: rotateY(180deg); */
}

#restartButton[b-ratfnvumw0] {
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(197, 31, 178);
    border-color: blue;
    border-radius: 10px;
    transition: 200ms transform;
}

#restartButton:hover[b-ratfnvumw0] {
    cursor: pointer;
    transform: translateY(-2px);
}

#gameBoard[b-ratfnvumw0] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.O[b-ratfnvumw0] {
    color: blue;
}

.X[b-ratfnvumw0] {
    color: red;
}

.cell[b-ratfnvumw0] {
    user-select: none;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
}

.cell:nth-child(3n)[b-ratfnvumw0] {
    border-right: none;
}

.cell:nth-child(6)~.cell[b-ratfnvumw0] {
    border-bottom: none;
}

.cell:hover[b-ratfnvumw0] {
    background-color: #b752d63f;
}

.cell.occupied[b-ratfnvumw0] {
    /* background-color: lightgray; */
    pointer-events: none;
}

.cell.no-hover[b-ratfnvumw0] {
    pointer-events: none;
}

.cell.winning[b-ratfnvumw0] {
    background-color: rgba(19, 216, 19, 0.938);
}

@keyframes flip-b-ratfnvumw0 {
    0% {
        
    }
    100% {
        transform: rotateY(180deg);
    }
}
