/* /Components/Button.razor.rz.scp.css */
button[b-yjquoi4oxo] {
    padding: 2px 15px;
    font-size: clamp(25px, 5vw, 3.2rem);
    color: var(--button-text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    transition: 200ms transform;
    user-select: none;
    white-space: nowrap;
}

@media (pointer: fine) {
    button:hover[b-yjquoi4oxo] {
        cursor: pointer;
        transform: translateY(-2px);
    }   
}
/* /Components/GameBoard.razor.rz.scp.css */
.container[b-31qm0wnvnq] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameState[b-31qm0wnvnq] {
    font-size: max(30px, min(5vh, 5vw));
    color: var(--text-color);
    /* margin-bottom: 20px; */
    text-align: center;
    /* TODO remove */
    /* animation: flip 1s ease-in-out; */
    /* transform-style: preserve-3d; */
    /* transform: rotateY(180deg); */
}

#difficulty[b-31qm0wnvnq] {
    color: var(--subtle-text-color);
}

#gameBoard[b-31qm0wnvnq] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1;
    user-select: none;
    
    width: 100%;
    max-width: 60vmin;
    min-width: 325px;
}

.O[b-31qm0wnvnq] {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--o-color);
}

.X[b-31qm0wnvnq] {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--x-color);
}

.cell[b-31qm0wnvnq] {
    font-size: max(120px, 22vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.15vmax solid;
    border-bottom: 0.15vmax solid;
    border-color: var(--gameboard-color);
    min-width: 0;
    min-height: 0;
}

.cell:nth-child(3n)[b-31qm0wnvnq] {
    border-right: none;
}

.cell:nth-child(6)~.cell[b-31qm0wnvnq] {
    border-bottom: none;
}

@media (pointer: fine) {
    .cell:hover[b-31qm0wnvnq] {
        background-color: var(--secondary-color);
    }
}

.cell.occupied[b-31qm0wnvnq] {
    pointer-events: none;
}

.cell.no-hover[b-31qm0wnvnq] {    
    pointer-events: none;
}

.cell.winning[b-31qm0wnvnq] {
    background-color: var(--winning-color);
}

/* TODO unused animation */
/* @keyframes flip {
    0% {
        
    }
    100% {
        transform: rotateY(180deg);
    }
} */
/* /Components/MainPage.razor.rz.scp.css */
.container[b-p97zg49k8g] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons[b-p97zg49k8g] {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
/* /Components/MenuWizard.razor.rz.scp.css */
.heading[b-896yffllyx] {
    font-size: clamp(30px, 8vw, 4rem);
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
    margin-bottom: 20px;
}

.container[b-896yffllyx] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* /Layout/MainLayout.razor.rz.scp.css */
#title[b-wxb3zju82g] {
    color: var(--text-color);
    font-size: clamp(32px, 8vw, 2.8rem);
}

#author[b-wxb3zju82g] {
    color: var(--subtle-text-color);
    margin-left: 5px;
    margin-top: -15px;
    /* font-size: clamp(12px, 3vw, 1.2rem); */
    /* margin-top: clamp(-15px, -3vw, 0px);
    margin-left: 5px; */
}

.nowrap[b-wxb3zju82g] {
    white-space: nowrap;
}

.top-row[b-wxb3zju82g] {
    padding-left: max(5px, .5vw);
    padding-right: max(5px, .5vw);
    background-color: var(--top-header-color);
    border-bottom: 0.1vh solid black;
    height: max(70px, 8vh);
    display: flex;
    justify-content: space-between;
}

.left-side[b-wxb3zju82g] {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    white-space: nowrap;
}

.right-side[b-wxb3zju82g] {
    font-size: clamp(10px, 3.5vw, 1.5rem);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;
    width: fit-content;
    gap: 1.5vw;
}

@media (max-width: 425px) {
    .right-side[b-wxb3zju82g] {
        gap: 0.4vh;
    }
}
    
#blazor-error-ui[b-wxb3zju82g] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-wxb3zju82g] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
